{% extends "base.html" %}
{% block content %}
	<div class="container-fluid">
		<div class="row" id="title">
			<h1>Keyword Extraction</h1>
		</div>
		<div class="row" id="members">
			<p>Members: Jocelyn Bohr, Andrew Kanarek, Haoyu Liu, Nghia Vo</p>
		</div>




		{% if file_entered %}
		<div class="row">
			<form method="GET" enctype="multipart/form-data">
			    <input class="btn btn-primary" id="clear_file" type="submit" value="Clear" />
			</form>
		</div>

		<div class="row">
			<p class="text" id="file-content"> {{ fileContent }} </p> 
		</div>

		<div class="row">
			<div class="col-md-3">
				<h3 class="method-header">RAKE</h3>
				{% for keyword in rake_keywords %}
					<p class="text"> {{ keyword }} </p>
				{% endfor %}
			</div>
			<div class="col-md-3">
				<h3 class="method-header">Clustering</h3>
				{% for keyword in cluster_keywords %}
					<p class="text"> {{ keyword }} </p>
				{% endfor %}
			</div>
			<div class="col-md-3">
				<h3 class="method-header">SVD</h3>
				{% for keyword in svd_keywords %}
					<p class="text"> {{ keyword }} </p>
				{% endfor %}
			</div>
			<div class="col-md-3">
				<h3 class="method-header">Rake + TextRank</h3>
				{% for keyword in rake_tr_keywords %}
					<p class="text"> {{ keyword }} </p>
				{% endfor %}
			</div>
		</div>
		{% else %}
		<div class="row">
			<form method="POST" enctype="multipart/form-data">
			    <input type="file" accept="text/plain" name="file" id="file_input" />
			    <input class="btn btn-primary" id="file_submit" type="submit" value="upload" />
			</form>
		</div>
		{% endif %}




	</div>


	
{% endblock %}