.center {
	margin:0 auto;
	width: 90%;
}

#title {
	margin:0 auto;	
	text-align: center;
}

#members {
	margin:0 auto;	
	text-align: center;
}

.method {
	height: 300px;
	width: 100px;
	border: 1px solid black;
}
.method-header {

}

#file-content {
	font-size: 30px;
}

.text {
	font-size: 20px;
}